<h1>{{title}}</h1>
<div class="col-md-5" style="padding-left: 0px">
    <h4>Bruger login</h4>
    <div class="table-responsive pre-scrollable">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Navn</th>
                <th>Brugernavn</th>
                <th>Rettigheder</th>
            </tr>
            </thead>
            <tbody id="tblUsers">
            </tbody>
        </table>
    </div>
    <button id="btnDeleteUser" class="btn btn-default" disabled>Slet bruger</button>
</div>

<div class="col-md-4 col-md-offset-2">
    <div class = table-responsive>
        <table class="table">
            <thead>
            <tr>
                <th colspan="2"><h4>Opret/redigér bruger</h4></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label>Navn&emsp;&emsp;&emsp;&emsp;</label>
                        <input id="adminName" name="name" type="text">
                    </div>
                    <div class="form-group">
                        <label>Brugernavn&emsp;</label>
                        <input id="adminUsername" name="username" type="text">
                    </div>
                    <div class="form-group">
                        <label>Kode&emsp;&emsp;&emsp;&emsp;</label>
                        <input id="adminPassword" name="password" type="text">
                    </div>
                    <div class="form-group">
                        <div class="radio">
                            <label><input id="rbTrainer" name="rights" type="radio" value="Træner" checked>Træner&emsp;</label>
                            <label><input id="rbAdmin" name="rights" type="radio" value="Admin">Admin</label>
                        </div>
                    </div>
                    <button id="btnCreateUser" class="btn btn-default" style="margin-right: 12px">Opret</button>
                    <button id="btnSaveUser" class="btn btn-default" style="margin-right: 12px" disabled>Gem ændringer</button>
                    <button id="btnAdminClear" class="btn btn-default">Ryd felter</button>
                </td>
            </tbody>
        </table>
    </div>
</div>
