<h1>{{title}}</h1>

<div class="col-md-6">
    <div class="row">
        <div class="col-md-3" style="padding-left: 0px">
            <div class="form-group">
                <label for="team">Vælg hold</label>
                <select class="form-control" name="aktivitetHold" id="selActTeam">
                    <option disabled selected value>--Vælg--</option>
                </select>
            </div>
        </div>
        <div class="col-md-9">
            <label for="datepicker">Periode</label>
            <div class="input-group" id="datepicker">
                <span class="input-group-addon">Fra</span>
                <input type="date" class="input-sm form-control" id="actStartDate" name = "start">
                <span class="input-group-addon">Til</span>
                <input type="date" class="input-sm form-control" id="actEndDate" name = "end">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 200px">Aktivitet</th>
                    <th style="width: 200px">Dato</th>
                    <th style="width: 200px">Tidsrum</th>
                    <th style="width: 200px">Aktivitetstid</th>
                </tr>
                </thead>
                <tbody id="tblActivity">
                </tbody>
            </table>
            <button type="button" id="btnDeleteActivity" class="btn btn-default" disabled>Slet</button>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="table-responsive">

        <table class="table">
            <thead>
            <tr>
                <th><h4>Opret/redigér aktivitet</h4></th>
                <th></th>
            </tr>
            </thead>
            <tr>
                <td>
                    <label>Holdnavn</label>
                </td>
                <td>
                    <label id="teamLabel"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Aktivitet</label>
                </td>
                <td>
                    <input type="text" id="activityName" name="navn" placeholder="F.eks Træning el. Kamp">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="date">Dato</label>
                </td>
                <td>
                    <div class="input-group" id="date">
                        <input type="date" style="width: 150px" name="date" id="activityDate">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Starttidspunkt</label>
                </td>
                <td>
                    <input type="number" name="startTimer" id="activityStartHr" min="0" max="22" value="12" pattern="/^([0-9]|1[0-9]|2[0-2])$/">
                    <label>:</label>
                    <input type="number" name="startMin" id="activityStartMin" min="0" max="45" step="15" value="00" pattern="/^([1-9]|[1-5][0-9]$)/">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Aktivitetstid</label>
                </td>
                <td>
                    <input type="number" name="varighedTimer" id= "activityTimeHr" min="0" max="11" value="0">
                    <label>timer&nbsp</label>
                    <input type="number" name="varighedMin" id= "activityTimeMin" min="0" max="45" step="15" value="0" pattern="/^([1-9]|[1-5][0-9]$)/">
                    <label>minutter</label>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
        <div name="buttons">
            <button id="btnCreateActivity" class="btn btn-default" style="margin-right: 12px" disabled>Opret ny aktivitet</button>
            <button id="btnSaveActivity" class="btn btn-default" style="margin-right: 12px" disabled>Gem ændringer</button>
            <button id="btnClearActivity" class="btn btn-default">Ryd felter</button>
        </div>
    </div>
</div>