<thead >
<tr>
    <th id="period" colspan="14"></th>
</tr>
<tr>
    <th colspan="2">Foreningens navn:</th>
    <th contenteditable="true" colspan="7"></th>
    <th colspan="2">Kundenr.:</th>
    <th contenteditable="true" colspan="3"></th>
</tr>
<tr>
    <th style="text-align:center; vertical-align:middle" rowspan="2">Hold</th>
    <th style="text-align:center; vertical-align:middle" rowspan="2">Aktivitetsstøttested</th>
    <th style="text-align:center; vertical-align:middle" rowspan="2">Ugedag</th>
    <th style="text-align:center" colspan="2">Tidspunkt</th>
    <th style="text-align:center; vertical-align:middle" rowspan="2">Holdets timetal</th>
    <th style="text-align:center" colspan="4">Antal deltagere pr. gang</th>
    <th style="text-align:center" colspan="4">Gennemførte deltagertimer</th>
</tr>
<tr>
    <th style="text-align:center; vertical-align:top">fra</th>
    <th style="text-align:center; vertical-align:top">til</th>
    <th style="text-align:center; vertical-align:top">3-5 år</th>
    <th style="text-align:center; vertical-align:top">6-12 år</th>
    <th style="text-align:center; vertical-align:top">13-18 år</th>
    <th style="text-align:center; vertical-align:top">19-24 år</th>
    <th style="text-align:center; vertical-align:top">3-5 år</th>
    <th style="text-align:center; vertical-align:top">6-12 år</th>
    <th style="text-align:center; vertical-align:top">13-18 år</th>
    <th style="text-align:center; vertical-align:top">19-24 år</th>
</tr>
</thead>
<tbody id="doc-data">

</tbody>

<tfoot>
<tr>
    <td colspan="9">Evt. supplerende liste over afholdte aktiviteter kan vedlægges</td>
    <td>i alt</td>
    <td style="text-align:center" id="total1"></td>
    <td style="text-align:center" id="total2"></td>
    <td style="text-align:center" id="total3"></td>
    <td style="text-align:center" id="total4"></td>
</tr>
<tr>
    <th contenteditable="true" colspan="14">Betalende medlemmer i kalenderåret </th>
</tr>
<tr>
    <td colspan="3"> Antal medlemmer i alt:</td>
    <td contenteditable="true" colspan="3"></td>
    <td> Antal <br/>3-5 år:</td>
    <td style="text-align:center; vertical-align:middle" contenteditable="true"></td>
    <td> Antal <br/>6-12 år:</td>
    <td style="text-align:center; vertical-align:middle" contenteditable="true"></td>
    <td> Antal <br/>13-18 år:</td>
    <td style="text-align:center; vertical-align:middle" contenteditable="true"></td>
    <td> Antal <br/>19-24 år:</td>
    <td style="text-align:center; vertical-align:middle" contenteditable="true"></td>
</tr>

<tr>
    <td colspan="14">Undertegnede bekræfter ovenstående oplysninger. Dokumentation for de gennemførte deltagertimer for året forefindes og kan indsendes på forlangende.</td>
</tr>
<tr>
    <td colspan="1" rowspan="3">Dato og <br>underskrift:</td>
    <td colspan="6" rowspan="3" style="text-decoration: overline; vertical-align: bottom">Kasserer / økonomisk ansvarlig</td>
    <td colspan="2" rowspan="3">Dato og <br>underskrift:</td>
    <td colspan="5" rowspan="3" style="text-decoration: overline; vertical-align: bottom">Formand / ansvarlig              </td>
</tr>
</tfoot>
