<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aktivitetsstøtte</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styling/stylesheet.css"/>
</head>
<body>
<section class="container">
        <h5 id = "userLoggedIn" value={{user._id}} otherValue={{user.local.isAdmin}} style="float: right">Du er logget ind som <strong>{{user.local.name}}</strong></h5><br/><br/>
        <form action="/logout" method="get" style="float: right">
            <input class="btn btn-default" type="submit" value="Log Ud">
        </form>
        <div class='row' id="tabRow">
            <ul id="tabBar" class='navbar nav nav-pills col-md-12'>
                <li class="active"><a data-toggle="tab" href='#fremmøde'><Strong>Fremmøde</Strong></a></li>
                <li><a data-toggle="tab" href='#hold'><Strong>Hold</Strong></a></li>
                <li><a data-toggle="tab" href='#aktiviteter'><Strong>Aktiviteter</Strong></a></li>
                {{#if user.local.isAdmin}}
                    <li><a data-toggle="tab" href='#fremmødedokumentation'><Strong>Fremmødedokumentation</Strong></a></li>
                    <li><a data-toggle="tab" href='#admin'><Strong>Admin</Strong></a></li>
                {{/if}}
            </ul>
        </div>
        <div class="tab-content">
            <div id="fremmøde" class="tab-pane fade in active"></div>
            <div id="hold" class="tab-pane fade"></div>
            <div id="aktiviteter" class="tab-pane fade"></div>
            <div id="fremmødedokumentation" class="tab-pane fade"></div>
            <div id="admin" class="tab-pane fade"></div>
        </div>

</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js"></script>
<script src="../client.js"></script>
<script src="../plugins/print/printThis.js"></script>
<script src="../plugins/export/src/jquery.table2excel.js"></script>

</body>
</html>