<h1>{{title}}</h1>
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label for="selAttTeam">Vælg hold</label>
            <select class="form-control" id="selAttTeam">
                <option disabled selected value>--Vælg--</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Manglende fremmøderegistrering</h4>
        <div class="table-responsive pre-scrollable">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Dato</th>
                    <th>Tid</th>
                    <th style="width: 200px">Type</th>
                </tr>
                </thead>
                <tbody id="tblMissAtt">
                </tbody>
            </table>
        </div>
            <button id='registerAttendance' style="margin-top: 15px" class="btn btn-default" data-toggle="modal" data-target="#attPopWindow" disabled>Registrér fremmøde</button>
    </div>
    <div class="col-md-6">
        <h4>Registreret fremmøde</h4>
        <div class="table-responsive pre-scrollable">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Dato</th>
                    <th>Tid</th>
                    <th style="width: 200px">Type</th>
                </tr>
                </thead>
                <tbody id="tblRegAtt">
                </tbody>
            </table>
        </div>
            <button id='editAttendance' style="margin-top: 15px" class="btn btn-default" data-toggle="modal" data-target="#attPopWindow" disabled>Redigér fremmøde</button>

    </div>
</div>

<!-- popup window -->
<div id="attPopWindow", class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="attendanceTitle">Registrér antal</h4>
            </div>
            <div class="modal-body">

                <div class="row" style="border-bottom:groove">
                    <div class="col-md-2 col-md-offset-2">
                        <p><b>Hold: </b><span id="attPopTeam"></span></p>
                    </div>
                    <div class="col-md-2">
                        <p><b>Dato: </b> <span id="attPopDate"></span></p>
                    </div>
                    <div class="col-md-2">
                        <p><b>Tid: </b><span id="attPopStartingTime"></span></p>
                    </div>
                    <div class="col-md-2">
                        <p><b>Type: </b><span id="attPopName"></span></p>
                    </div>
                </div>

                <div class="radio">
                    <div class="col-md-2">
                        <label class="radio-inline">
                            <input id="rbNumber" value="num" type="radio" name="attRadio">Antal
                        </label>
                    </div>
                    <div class=" col-md-2 col-md-offset-4">
                        <label class="radio-inline">
                            <input id="rbCheckOff" value="check" type="radio" name="attRadio">Afkrydsning
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="border-right:groove">
                        <div class="table-responsive">
                            <table id="tblNumber" class="table">
                                <thead>
                                <tr>
                                    <th>Alder</th>
                                    <th>Antal</th>
                                    <th>Max antal</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="numberInput">
                                    <td>3-5 år</td>
                                    <td><input  id="grp0" type="number" min="0"></td>
                                    <td>(max <span id="grp0Max"></span>)</td>
                                </tr>
                                <tr class="numberInput">
                                    <td>6-12 år</td>
                                    <td><input id="grp1" type="number" min="0"></td>
                                    <td>(max <span id="grp1Max"></span>)</td>
                                </tr>
                                <tr class="numberInput">
                                    <td>13-18 år</td>
                                    <td><input id="grp2" type="number" min="0"></td>
                                    <td>(max <span id="grp2Max"></span>)</td>
                                </tr>
                                <tr class="numberInput">
                                    <td>19-24 år</td>
                                    <td><input id="grp3" type="number" min="0"></td>
                                    <td>(max <span id="grp3Max"></span>)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive pre-scrollable">
                            <table id="tblCheckOff" class="table">
                                <thead>
                                <tr>
                                    <th>
                                        Spillere
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-4" style="padding-left: 0px">
                    <label>Aktivitetstid</label>
                    <input id="attTimeHr" type="number" min="0" max="11" value="0">
                    <label>timer </label>
                </div>
                <div class="col-md-2">
                    <input id="attTimeMin" type="number" min="0" max="45" step="15" value="0" pattern="/^([1-9]|[1-5][0-9]$)/">
                    <label>min.</label>
                </div>
                <div class="col-md-1 col-md-offset-3">
                    <button id="sendAtt" type="button" class="btn btn-default">Send</button>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annullér</button>
                </div>
            </div>
        </div>
    </div>
</div>