<h1 class="printable">{{title}}</h1>
<div class="row">
    <div class="col-md-3" >
        <div class="form-group">
            <label for="sel-doc">Dokumenttype</label>
            <select class="form-control" id="sel-doc">
                <option disabled selected value>--Vælg dokument--</option>
                <option value="team">Fremmøde pr. hold</option>
                <option value="all">Samlet oversigt</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="sel-team">Vælg hold</label>
            <select disabled class="form-control " id="sel-team">
                <option id="pickTeam" disabled selected value>--Vælg hold--</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <label for="datepicker">Periode</label>
        <div class="input-group" id="datepicker">
            <span class="input-group-addon">Fra</span>
            <input type="date" class="input-sm form-control" name = "start" id="docStartDate">
            <span class="input-group-addon">Til</span>
            <input type="date" class="input-sm form-control" name = "end" id="docEndDate">
        </div>
    </div>
    <div class="col-md-4">
        <button id="btnPrint" class="btn btn-default" style="margin-top: 23px" disabled>Print</button>
        <button id="btnExport" class="btn btn-default" style="margin-top: 23px" disabled>Exporter til Excel</button>
    </div>
</div>
<div class="row printable">
    <br>
    <div class="col-md-12">
        <table class="table table-striped table-bordered" id="table-doc">
        </table>
    </div>
</div>