<h1>{{title}}</h1>
<div class="col-md-2" style="padding-left: 0px">
    <div class="form-group" style="padding-left: 0px">
        <label for="selHold">Vælg hold</label>
        <select class="form-control" id="selHold">
            <option disabled selected value=false>--Vælg hold--</option>
        </select>
    </div>
    <button id="btnCreateTeam" class="btn btn-default"  data-toggle="modal" data-target="#opretHold">Opret nyt hold</button>
</div>


<div class="col-md-10">
    <div class="text-center">
        <label>Holdnavn</label>
        <input id="teamName" type="text">
    </div>
    <div class="table-responsive>">
        <table class="table">
            <thead>
            <tr>
                <th colspan=2>Holdets spillere</th>
                <th colspan=2>Andre spillere</th>
                <th>Trænere</th>
            </tr>
            </thead>
            <tbody>
                <td style="width: 225px">
                    <div class="table-responsive pre-scrollable" style="max-height: 150px">
                        <table id="tblTeamPlayer" class="table" >
                            <td id="teamPlayers">
                            </td>
                        </table>
                    </div>
                </td>
                <td class="text-center" style="width: 200px">
                    <label style="margin-right: 50px">Fjern</label><label>Tilføj</label><br/>
                    <button id="removePlayers" class="btn btn-default glyphicon glyphicon-chevron-right" style="margin-right: 40px"></button>
                    <button id="addPlayers" class="btn btn-default glyphicon glyphicon-chevron-left"></button>
                </td>
                <td style="width: 225px">
                    <div class="table-responsive pre-scrollable" style="max-height: 150px">
                        <table class="table">
                            <td id="otherPlayers">
                            </td>
                        </table>
                    </div>
                    <button id="btnCreatePlayer" style="margin: 15px" class="btn btn-default" data-toggle="modal" data-target="#opretSpiller">Opret spiller</button>
                </td>
                <td>
                    <label>Køn</label><br/>
                    <div class="form-group">
                        <select class="form-control" id="selGender" style="width: 100px">
                            <option value="all" selected="selected">Begge</option>
                            <option value=false>Drenge</option>
                            <option value=true>Piger</option>
                        </select>
                    </div>
                    <label>Årgang</label><br/>
                    <div class="form-group">
                        <select class="form-control" id="selYear" style="width: 100px">
                            <option value="all" selected="selected">Alle</option>
                            {{#each years}}
                                <option value={{this.year}}>{{this.year}}</option>
                            {{/each}}
                        </select>
                    </div>
                </td>
                <td>
                    <div class="table-responsive pre-scrollable" style="max-height: 150px">
                        <table class="table" style="width: 200px">
                            <td id="teamTrainersList">
                            </td>
                        </table>
                    </div>
                    <button id="editTrainers" class="btn btn-default" data-toggle="modal" data-target="#redigerTrænere" style="margin: 15px" disabled>Redigér trænere</button>
                </td>
            </tbody>
        </table>

    </div>
</div>
<div class="col-md-4 col-md-offset-6">
    <button id="savePlayerChanges" style="margin: 12px" class="btn btn-default" disabled>Gem ændringer</button>
    <button id="forgetPlayerChanges" class="btn btn-default" disabled>Fortryd ændringer</button>
</div>

<!-- OPRET HOLD popup window -->
<div id="opretHold", class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Opret hold</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Holdnavn</label><br/>
                        <input id="popTeamName" type="text">
                    </div>

                    <div class="col-md-6">
                        <label>Vælg træner(e)</label>
                        <div class="table-responsive pre-scrollable" style="max-height: 150px" style="border: groove">
                            <table class="table" style="width: 200px">
                                <td id ="createTeamTrainers">
                                </td>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button id="createTeam" class="btn btn-default" type="button">Opret</button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">Annullér</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- OPRET SPILLER popup window -->
<div id="opretSpiller", class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Opret spiller</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <label>Fulde navn</label>
                        <input class="form-control" id="popPlayerName" style="width: 180px" type="text">
                        <label>Årgang</label>
                        <select class="form-control" id="popPlayerYear" style="width: 100px">
                            {{#each years}}
                                <option>{{this.year}}</option>
                            {{/each}}
                        </select>
                        <label>Køn</label>
                        <div class="form-group">
                            <select id="popPlayerGender" class="form-control" style="width: 100px">
                                <option value=false>Dreng</option>
                                <option value=true>Pige</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button id="createPlayer" class="btn btn-default" type="button">Opret</button>
                    <button class="btn btn-default" data-dismiss="modal" type="button">Annullér</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REDIGER TRÆNER popup window -->
<div id="redigerTrænere", class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <!-- Content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Redigér trænere</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2" style="width: 207px">
                            <label>Holdets trænere</label>

                            <div class="table-responsive pre-scrollable" style="max-height: 150px" style="border: groove">
                                <table class="table" style="width: 200px">
                                    <td id="teamTrainersPop">
                                    </td>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-2" style="width: 145px">
                            <label style="margin-right: 40px" style="padding-left: 30px">Fjern</label><label>Tilføj</label><br/>
                            <button id="removeTrainers" class="btn btn-default glyphicon glyphicon-chevron-right" style="margin-left: 0px"></button>
                            <button id="addTrainers" class="btn btn-default glyphicon glyphicon-chevron-left" style="margin-left: 30px"></button>
                        </div>
                        <div class="col-md-2" style="width: 207px">
                            <label>Andre trænere</label>

                            <div class="table-responsive pre-scrollable" style="max-height: 150px" style="border: groove">
                                <table class="table" style="width: 200px">
                                    <td id="otherTrainersPop">
                                    </td>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button id="saveTrainerChanges" class="btn btn-default" type="button" data-dismiss="modal">Gem</button>
                    <button id="forgetTrainerChanges" class="btn btn-default" type="button" data-dismiss="modal">Annullér</button>
                </div>
            </div>
        </div>
    </div>
</div>
