<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center" style="font-size: 65px">Aktivitetsstøtte</h1><br/>
    <section id="content">
        <form action="/" method="post">
            <h1 class="loginText" style="color: #37bafc">Login</h1>
            <!-- show any messages that come back with authentication -->
            <div>
                <input type="text" placeholder="Brugernavn" id="username" name="username"/>
            </div>
            <div>
                <input type="password" placeholder="Kodeord" id="password" name="password"/>
            </div>
            {{#if message}}
                <div>
                    <p style="font: bold 15px Helvetica, Arial, sans-serif; color: red">{{message}}</p>
                </div>
            {{/if}}
            <div>
                <input type="submit" value="Log ind">
            </div>
        </form>
    </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/handlebarsjs/4.0.5/handlebars.min.js"></script>
<link rel="stylesheet" href="styling/loginStyle.css"/>
</body>
</html>