<thead>
<tr>
    <th id="period" colspan="6"></th>
    <th id="showTeamName" colspan="6"></th>
</tr>
<tr>
    <th style="text-align:center; vertical-align: middle" rowspan="2">Aktivitet</th>
    <th style="text-align:center; vertical-align: middle" rowspan="2">Dato</th>
    <th style="text-align:center; vertical-align: middle" rowspan="2">Tidsrum</th>
    <th style="text-align:center; vertical-align: middle" rowspan="2">Timetal</th>
    <th style="text-align:center" colspan="4">Antal</th>
    <th style="text-align:center" colspan="4">Deltagertimer</th>
</tr>
<tr>
    <th style="text-align:center">3-5 år</th>
    <th style="text-align:center">6-12 år</th>
    <th style="text-align:center">13-18 år</th>
    <th style="text-align:center">19-24 år</th>
    <th style="text-align:center">3-5 år</th>
    <th style="text-align:center">6-12 år</th>
    <th style="text-align:center">13-18 år</th>
    <th style="text-align:center">19-24 år</th>
</tr>
</thead>
<tbody id="doc-data"></tbody>
