input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

.pre-scrollable {
    height: 40vh;
    overflow-y: auto;
}

tr.active{
    color: steelblue;
}

.btn{
    color: steelblue;
}

input[type="date"]
{
    font: 14px arial, sans-serif;
}

div {
    padding-left: 0px;
}

Body {
    background-image: url(contentBaggrund.jpeg);
    background-size: cover;
}

table, input {
    background-color: white;
    opacity: 0.8;
}

table {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.tab-content {
    margin-top: 20px;
}